/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, "Helvetica Neue";
	text-align: justify;
	font-size: 11px;
	background-color: #3A6695;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0px; }

.centrar { text-align: center; }
.derecha { text-align: right; }
.izquierda { text-align: left; }
.justificar { text-align: justify; }

.ver { visibility: visible; }
.ocultar { visibility: hidden; }
.quitar { display: none; }
.poner { display: inline; }

.Titulo0 {
	font-family: Tahoma;
	font-size: 8pt;
	color: #FF0000;
	text-align: right
}

.PiePagina {
	font-family: Tahoma;
	font-size: 10px;
	color:#FFFFFF;
	text-align: center;
}

.enlace {
	color:#990000;
	font-size: 10pt;
}

.fecha {
	color:#666666;
	text-align: right;
	font-size:11pt;
}

.manita {cursor: pointer;}