/* Formularios */

form input[type=text], form input[type=password], form input[type=button], form input[type=file], 
form input[type=reset], form input[type=submit], form select {
	font-family: "Arial";
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	padding: 3px;
	background-color:#FFFFFF;
	margin-right: 2px;
}

form textarea {
	font-family: "Arial";
	font-size: 14px;
	border: 1px solid  #cccccc;
	padding: 5px;
}

form input[type=text]:hover, form input[type=password]:hover, form file:hover, form input[type=file]:hover,
form textarea:hover, form select:hover {
	border: 1px solid #FF6600;
	background-color: #FFEAD5;
}

form input[type=text]:focus, form input[type=password]:focus, form file:focus, form input[type=file]:focus,
form textarea:focus, form select:focus {
	border: 1px solid #FF6600;
	background-color: #FFEAD5;
}

form input[type=text].width, form input[type=password].width, form input[type=file].width, 
form input[type=reset].width, form select.select.width, form textarea.width { width: 300px; }